.form1{
    align-items: center;
    width: 400px;
    height: 50px;
    margin-left: 30%;
}
.spacetext{
    margin-top: 7%;
}

.form2{
    align-items: center;
    width: 200px;
    height: 50px;
}

.spaceform2{
    margin-left: 20%;
}

.spacetext2{
    margin-top: 15%;
}

